<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Comments

    <a data-toggle="collapse" href="#user_comments_new_form">
      Add provider update
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.comments.each do |provider_update| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/provider_updates/<%= provider_update.id %>">
          <%= provider_update.breakfast %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
