<!-- Validation failure messages -->
<% if @parent_comment.present? %>
  <% if @parent_comment.errors.any? %>
    <% @parent_comment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new parent comment
</h1>


<hr>

<!-- Form parent_comment start -->
<form action="/create_parent_comment" method="post">
<!-- Form parent_comment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @parent_comment.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <input type="text" id="body" name="body" class="form-control" value="<%= @parent_comment.body %>">
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <button class="btn btn-block btn-outline-secondary">
    Create parent comment
  </button>
</form>

<hr>

<a href="/parent_comments">
  Go back
</a>
