<h1>
  Add a new parent comment
</h1>


<hr>

<!-- Form parent_comment start -->
<form action="/create_parent_comment" method="post">
<!-- Form parent_comment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <input type="text" id="body" name="body" class="form-control">
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <button class="btn btn-block btn-outline-secondary">
    Create parent comment
  </button>
</form>

<hr>

<a href="/parent_comments">
  Go back
</a>
