<h1>
  Edit direct message #<%= @direct_message.id %>
</h1>

<hr>

<form action="/update_direct_message/<%= @direct_message.id %>" method="post">


  <div class="form-group">
    <label for="parent_id">
      Parent
    </label>

    <%= select_tag(:parent_id, options_from_collection_for_select(User.all, :id, :email, @direct_message.parent_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"><%= @direct_message.body %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update direct message
  </button>
</form>

<hr>

<a href="/direct_messages">
  Go back
</a>
